*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    display:block;
    justify-content: center;
    flex-direction:column;
    align-items:center;
    font-family:sans-serif;
    color:black;
    white-space: normal;
    background:linear-gradient(white,rgb(182, 176, 176));
}
h1{
    justify-content: center;
    display:flex;
    flex-direction:column;
    align-items:center;
    height:20vh;
    flex-wrap: wrap;
   
   
   
    
}
ul{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    
}
li{
    list-style:none;
    padding:10px;
    font-size:20px;
    font-weight:bold;
}
.navbar-toggler-icon{
   padding:20px;
   background-color:white;
   margin:5px;
   
}
.navbar-toggler-icon .item{
     width: 40px;
     height: 8px;
     background-color:black;
     border:1px solid black;
     border-radius:5px;
     margin:5px;


}
.temperature{
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
    padding:20px;
    font-size:30px;
    word-spacing: 5px;
  


}
.city{
    display:flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items:center;
    font-size:30px;
    word-spacing: 5px;
    cursor: pointer;
    
    
}
img{
   display:inline-block;
    place-content:center;
    position:relative;
    bottom:40px;
    left:170px;
    width:100px;
    height:100px;
    color:white;

}

